<!--
CSS for Times Grid - an adaptation-in-progress of https://github.com/revdancatt/CAT540-guardian-picture-grid by Dan Catt 
that links to content on the Irish Times, rather than the Guardian.
-->
<% @result.each do |item|%>

<div class="container">
<a href="http://www.irishtimes.com<%=item.image_link%>" target="_blank">
<div class="card">
<div class="face front">
<img class="bigImage" src="http://www.irishtimes.com<%=item.image_url%>" title="<%=item.image_credit%>" />
</div>
</div>
</a>
</div>

<%end%>
