
<% @result.each do |item|%>

<div class="container">
<a href="http://www.irishtimes.com<%=item.image_link%>" target="_blank">
<div class="card">
<div class="face front">
<img class="bigImage" src="http://www.irishtimes.com<%=item.image_url%>" title="<%=item.image_credit%>" />
</div>
</div>
</a>
</div>

<%end%>
