/* 
CSS for Times Grid - an adaptation-in-progress of https://github.com/revdancatt/CAT540-guardian-picture-grid by Dan Catt 
that links to content on the Irish Times, rather than the Guardian.
*/
body {
    margin:0;
    background: black;
}

html {
    overflow: -moz-scrollbars-vertical;
}

#header {
    width: 100%;
    color: #CB4B00;
    background: #32090A;
    border-bottom: 1px solid #CB4B00;
    margin-bottom: 1px;
    font-size: 1.4em;
    line-height: 1.4em;
}

#header div {
    padding-left: 0.2em;
}


#bigImageHolder {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    overflow: visible;
    cursor: pointer;
}

#bigImageHolder a {
    text-decoration: none;
}

div.container {
    margin: 0;
    border: 0;
    padding: 0;
    width: 460px;
    height: 276px;
    overflow: visible;
    float: left;
    position: relative;
    line-height: 2em;
}

div.card,
div.face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}

div.face img {
    width: 100%;
    height: 100%;
}

.back {
    background: #F3F3F3;
    font-size: 1em;
    cursor: pointer;
}

.front{
    background: #F3F3F3;
    font-size: 1em;
    cursor: pointer;
    display:block;
}

h2 {
    font-family: georgia,serif;
    font-size: 1.8em;
    color: #004A83;
     margin: 6px;
}