
<% @result.each do |item|%>

<div class="single_story">
<a href="http://www.irishtimes.com<%=item.image_link%>">
<div class="single_image">
<img src="http://www.irishtimes.com<%=item.image_url%>" title="<%=item.image_credit%>"/>
</div>
<div class="story_caption"><h2 class="story_caption"><%=item.image_caption%></h2></div>
</a>

<%end%>
