<!DOCTYPE html>
<html>
<head>
  <title>Items</title>
    <script src="/js/control.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
  <%= yield %>
</body>
<script src="/
</html>